CONFIG_PACKAGE_libatomic=m
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_resolveip=m
CONFIG_PACKAGE_automount=m
CONFIG_PACKAGE_autosamba=m
CONFIG_PACKAGE_kmod-scsi-cdrom=m
CONFIG_PACKAGE_kmod-scsi-core=m
CONFIG_PACKAGE_kmod-scsi-generic=m
CONFIG_PACKAGE_kmod-scsi-tape=m
CONFIG_PACKAGE_kmod-crypto-cbc=m
CONFIG_PACKAGE_kmod-crypto-ccm=m
CONFIG_PACKAGE_kmod-crypto-cmac=m
CONFIG_PACKAGE_kmod-crypto-crc32=m
CONFIG_PACKAGE_kmod-crypto-crc32c=m
CONFIG_PACKAGE_kmod-crypto-ctr=m
CONFIG_PACKAGE_kmod-crypto-cts=m
CONFIG_PACKAGE_kmod-crypto-des=m
CONFIG_PACKAGE_kmod-crypto-ecdh=m
CONFIG_PACKAGE_kmod-crypto-fcrypt=m
CONFIG_PACKAGE_kmod-crypto-gcm=m
CONFIG_PACKAGE_kmod-crypto-gf128=m
CONFIG_PACKAGE_kmod-crypto-ghash=m
CONFIG_PACKAGE_kmod-crypto-hmac=m
CONFIG_PACKAGE_kmod-crypto-kpp=m
CONFIG_PACKAGE_kmod-crypto-md4=m
CONFIG_PACKAGE_kmod-crypto-md5=m
CONFIG_PACKAGE_kmod-crypto-pcbc=m
CONFIG_PACKAGE_kmod-crypto-rng=m
CONFIG_PACKAGE_kmod-crypto-seqiv=m
CONFIG_PACKAGE_kmod-crypto-sha256=m
CONFIG_PACKAGE_kmod-crypto-sha512=m
CONFIG_PACKAGE_kmod-fs-afs=m
CONFIG_PACKAGE_kmod-fs-antfs=m
CONFIG_PACKAGE_kmod-fs-autofs4=m
CONFIG_PACKAGE_kmod-fs-cifs=m
CONFIG_PACKAGE_kmod-fs-cramfs=m
CONFIG_PACKAGE_kmod-fs-exfat=m
CONFIG_PACKAGE_kmod-fs-exportfs=m
CONFIG_PACKAGE_kmod-fs-ext4=m
CONFIG_PACKAGE_kmod-fs-f2fs=m
CONFIG_PACKAGE_kmod-fs-fscache=m
CONFIG_PACKAGE_kmod-fs-ksmbd=m
CONFIG_KSMBD_SMB_INSECURE_SERVER=y
CONFIG_PACKAGE_kmod-fs-msdos=m
CONFIG_PACKAGE_kmod-fs-nfs=m
CONFIG_PACKAGE_kmod-fs-nfs-common=m
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=m
CONFIG_PACKAGE_kmod-fs-ntfs=m
CONFIG_PACKAGE_kmod-fs-vfat=m
CONFIG_PACKAGE_kmod-fs-xfs=m
CONFIG_PACKAGE_kmod-hid=m
CONFIG_PACKAGE_kmod-input-core=m
CONFIG_PACKAGE_kmod-input-evdev=m
CONFIG_PACKAGE_kmod-lib-crc-itu-t=m
CONFIG_PACKAGE_kmod-lib-crc16=m
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-lib-crc7=m
CONFIG_PACKAGE_kmod-lib-zlib-inflate=m
CONFIG_PACKAGE_kmod-nls-cp437=m
CONFIG_PACKAGE_kmod-nls-iso8859-1=m
CONFIG_PACKAGE_kmod-nls-utf8=m
CONFIG_PACKAGE_kmod-mii=m
CONFIG_PACKAGE_kmod-dnsresolver=m
CONFIG_PACKAGE_kmod-ipip=m
CONFIG_PACKAGE_kmod-iptunnel=m
CONFIG_PACKAGE_kmod-iptunnel4=m
CONFIG_PACKAGE_kmod-rxrpc=m
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-6lowpan=m
CONFIG_PACKAGE_kmod-bluetooth=m
CONFIG_PACKAGE_kmod-bluetooth-6lowpan=m
CONFIG_PACKAGE_kmod-mmc=m
CONFIG_PACKAGE_kmod-regmap-core=m
CONFIG_PACKAGE_kmod-mmc-spi=m
CONFIG_PACKAGE_kmod-usb-net=m
CONFIG_PACKAGE_kmod-usb-ohci-pci=m
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-usb-serial=m
CONFIG_PACKAGE_kmod-usb-serial-ch341=m
CONFIG_PACKAGE_kmod-usb-serial-cp210x=m
CONFIG_PACKAGE_kmod-usb-serial-pl2303=m
CONFIG_PACKAGE_kmod-usb-storage=m
CONFIG_PACKAGE_kmod-usb-storage-extras=m
CONFIG_PACKAGE_kmod-usb-storage-uas=m
CONFIG_PACKAGE_kmod-usb-uhci=m
CONFIG_PACKAGE_kmod-usb2-pci=m
CONFIG_PACKAGE_libsysfs=m
CONFIG_PACKAGE_libelektra-core=m
CONFIG_PACKAGE_libelektra-extra=m
CONFIG_PACKAGE_libgnutls=m
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_PSK=y
CONFIG_GNUTLS_ANON=y
CONFIG_PACKAGE_libblkid=m
CONFIG_PACKAGE_libcomerr=m
CONFIG_PACKAGE_libext2fs=m
CONFIG_PACKAGE_libf2fs=m
CONFIG_PACKAGE_libgcrypt=m
CONFIG_PACKAGE_libgmp=m
CONFIG_PACKAGE_libgpg-error=m
CONFIG_PACKAGE_libminiupnpc=y
CONFIG_PACKAGE_libnatpmp=y
CONFIG_PACKAGE_libnettle=m
CONFIG_PACKAGE_libss=m
CONFIG_PACKAGE_luci-mod-rpc=y
CONFIG_PACKAGE_luci-app-aria2=m
CONFIG_PACKAGE_luci-app-cifs-mount=m
CONFIG_PACKAGE_luci-app-frpc=m
CONFIG_PACKAGE_luci-app-frps=m
CONFIG_PACKAGE_luci-app-guest-wifi=m
CONFIG_PACKAGE_luci-app-nps=m
CONFIG_PACKAGE_luci-app-ntpc=m
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-app-openvpn-server=m
CONFIG_PACKAGE_luci-app-samba=m
CONFIG_PACKAGE_luci-app-usb-printer=m
CONFIG_PACKAGE_luci-app-v2ray-server=m
CONFIG_PACKAGE_luci-app-verysync=m
CONFIG_PACKAGE_luci-app-wifischedule=m
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-proto-ipip=m
CONFIG_PACKAGE_luci-proto-ipv6=m
CONFIG_PACKAGE_luci-proto-vpnc=m
CONFIG_PACKAGE_luci-lib-docker=m
CONFIG_PACKAGE_luci-lib-json=y
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=m
CONFIG_PACKAGE_luci-i18n-cifs-mount-zh-cn=m
CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=m
CONFIG_PACKAGE_luci-i18n-frps-zh-cn=m
CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=m
CONFIG_PACKAGE_luci-i18n-nps-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ntpc-zh-cn=m
CONFIG_PACKAGE_luci-i18n-openvpn-server-zh-cn=m
CONFIG_PACKAGE_luci-i18n-openvpn-zh-cn=m
CONFIG_PACKAGE_luci-i18n-samba-zh-cn=m
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=m
CONFIG_PACKAGE_luci-i18n-v2ray-server-zh-cn=m
CONFIG_PACKAGE_luci-i18n-verysync-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=m
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y
CONFIG_PACKAGE_ariang=m
CONFIG_PACKAGE_aria2=m
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_PACKAGE_wsdd2=m
CONFIG_PACKAGE_p910nd=m
CONFIG_PACKAGE_ntpclient=m
CONFIG_PACKAGE_openvpn-easy-rsa=m
CONFIG_PACKAGE_openvpn-openssl=m
CONFIG_OPENVPN_openssl_ENABLE_LZ4=y
CONFIG_OPENVPN_openssl_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_openssl_ENABLE_MULTIHOME=y
CONFIG_OPENVPN_openssl_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_openssl_ENABLE_DEF_AUTH=y
CONFIG_OPENVPN_openssl_ENABLE_PF=y
CONFIG_OPENVPN_openssl_ENABLE_SMALL=y
CONFIG_PACKAGE_vpnc=m
CONFIG_VPNC_GNUTLS=y
CONFIG_PACKAGE_vpnc-scripts=m
CONFIG_PACKAGE_zerotier=y
CONFIG_PACKAGE_frpc=m
CONFIG_PACKAGE_frps=m
CONFIG_PACKAGE_wifischedule=m
CONFIG_PACKAGE_ipip=m
CONFIG_PACKAGE_npc=m
CONFIG_PACKAGE_samba36-server=m
CONFIG_PACKAGE_verysync=m
CONFIG_PACKAGE_unzip=m
CONFIG_PACKAGE_antfs-mount=m
CONFIG_PACKAGE_dosfstools=m
CONFIG_PACKAGE_dumpe2fs=m
CONFIG_PACKAGE_e2freefrag=m
CONFIG_PACKAGE_e2fsprogs=m
CONFIG_PACKAGE_exfat-fsck=m
CONFIG_PACKAGE_exfat-mkfs=m
CONFIG_PACKAGE_f2fs-tools=m
CONFIG_PACKAGE_f2fsck=m
CONFIG_PACKAGE_mkf2fs=m
